* text=auto

*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.cmd text eol=crlf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.mp4 binary
*.pdf binary
*.doc binary
*.docx binary
